*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Sphinx
_build
_static
_template

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.sublime-*
.fab_tasks~
*.db
assets

#excalibur
sources.yml

#vagrant
Vagrantfile
.vagrant

# generated webservice
hypnos/apps/webservice/models.py
hypnos/apps/webservice/serializers.py
hypnos/apps/webservice/urls.py
hypnos/apps/webservice/views.py
